*.diff.png
e2e-cypress/node_modules/*
e2e-cypress/cypress/screenshots/*
e2e-cypress/cypress/videos/*
e2e-cypress/cypress/plugins/*.json
e2e-cypress/cypress/results/*
!e2e-cypress/cypress/results/.gitkeep